@import url('https://freefiremobile-a.akamaihd.net/common/web_event/common/BebasNeue-Regular.ttf');
//中文字体
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
// 越南俄语字体
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
// 数字
@font-face {
  font-family: 'Bebas Neue Number';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(https://fonts.gstatic.com/l/font?kit=JTUSjIg69CK48gW7PXooxWtrzAbjydxFlRmQn1kIfkdt&skey=6bd981f07b300212&v=v1) format('woff2');
}
