// 字体
$base-font-family: arial, sans-serif;
$font-family: 'Teko', $base-font-family;
$zh-font-family: 'Noto Sans TC', $base-font-family;
$vnru-font-family:'Bebas Neue Number', 'Yanone Kaffeesatz', $base-font-family;
$number-font-family: 'Bebas Neue Number', $base-font-family;
// 尺寸
$ui-width: 1282;
$ui-height: 736;
